
:root {
    --blue-ps: RGB(8, 118, 208);
    --grey-paragraph: RGB(99, 99, 99);
}



body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-bottom: 0;
}

/* header rules */

header {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 999;
}

.header_top {
    background-color: black;
}

.header_top img {
    height: 15px;
}

.header_bottom img {
    height: 70px;
}


/* navbar bootstrap */

#search {
    color: black;
    font-size: 20px;
    margin-top: 2px;
}

@media screen and (min-width:992px) {
    .small_left {
        align-items: flex-start;
    }
}

.ball::before {
    content: 'kek';
}

/* header end */

/* main start */

/* jumbo rules */

.jumbo_container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7em;
}



.jumbo_contained img {
    height: 65px;
    margin-top: 200px;
}

h1 {
    color: white;
    padding: 0.5em 0;
    font-size: 45px;
}


.jumbo_contained p {
    color: white;
    font-size: 20px;
}

.jumbo_contained button {
    background-color: #dede00;
    border: none;
    border-radius: 20px;
}

.jumbo_contained button:hover {
    cursor: pointer;
}

.jumbo_contained a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* /jumbo */

/* card section */

.card_section img {
    height: 130px;
    border-radius: 10px;
}

@media screen and (min-width:992px) {
    .card_section img {
        height: 110px;
    }
}

/* /card section */

/* ps5 section */

.section_ps5 h4 {
    text-transform: uppercase;
    color: RGB(8, 118, 208);
    font-size: 15px;
}

.section_ps5 h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.section_ps5 p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}


.section_ps5 button {
    background-color: RGB(8, 118, 208);
    border: none;
    border-radius: 20px;
}

.section_ps5 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.section_ps5 img {
    height: 500px;
}

@media screen and (min-width: 768px) {
    .section_ps5 img {
        height: 550px;
    }
    
}

/* accessories section */

.accessories_section img {
    height: 140px;
}

.accessories_section .filter {
    height: 140px;
    background-color: black(255, 255, 255, 0.322);
}

@media screen and (min-width:992px) {
    .accessories_section img {
        height: 180px;
        margin-left: 1em;
    }
}


/* adv section rules */

.adv_container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7em;
}



.adv_contained img {
    height: 165px;
    margin-top: 50px;
}

h1 {
    color: white;
    padding: 0.5em 0;
    font-size: 45px;
}


.adv_contained p {
    color: white;
    font-size: 20px;
}

.adv_contained button {
    background-color: orange;
    border: none;
    border-radius: 20px;
}

.adv_contained button:hover {
    cursor: pointer;
}

.adv_contained a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* coming soon rules */

.coming_soon_container {
    background-color:RGB(44, 44, 44) ;
}

.coming_soon_contained img {
    height: 265px;
    border-radius: 10px;
    margin-bottom: 1em;
}

.coming_soon_contained p {
    color: white;
    font-size: 20px;
}

@media screen and (min-width:1200px) {

    .coming_soon_contained img {
        height: 200px;
    }

}    


/* ps4 section rules */

.ps4_contained h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.ps4_contained p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}


.ps4_contained button {
    background-color: RGB(8, 118, 208);
    border: none;
    border-radius: 20px;
}

.ps4_contained a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.ps4_contained img {
    height: 330px;
}

@media screen and (min-width:768px) {
    .ps4_contained img {
       height: 145px;
    }
}


/* ps plus rules */

.ps_plus_container {
    background-color: RGB(193, 189, 188);
}

.ps_plus_contained img {
    height: 80px;
}

.ps_plus_contained p {
    color: black;
    font-size: 15px;
}

.ps_plus_contained button {
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 20px;
}

.ps_plus_contained a {
    text-decoration: none;
    color: var(--blue-ps);
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.ps_plus_contained .plus_month {
    height: 280px;
}

@media screen and (max-width:768px) {
    .ps_plus_contained .plus_month {
        display: none;
    }
}


/* ps store rules */

.ps_store_contained h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.ps_store_contained p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}

.ps_store_contained img {
    height: 580px;
}

@media screen and (min-width: 768px) {
    .ps_store_contained img {
        height: 360px;
    }
}   