
:root {
    --blue-ps: RGB(8, 118, 208);
    --grey-paragraph: RGB(99, 99, 99);
}



body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-bottom: 0;
}

/* header rules */

header {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 999;
}

.header_top {
    background-color: black;
}

.header_bottom .input_container {
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
}

.header_top img {
    height: 15px;
}

.header_bottom img {
    height: 40px;
    vertical-align: initial;
}

@media screen and (max-width:992px) {
    .header_bottom img {
        vertical-align: middle;
    }
}

.header_bottom img:hover {
    cursor: pointer;
}


.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: inset 0 0 0 1px black, inset 0 0 0 2px white;
}

/* navbar bootstrap */

.header_bottom .input_container input {
    width: 90%;
    border: none;
}




@media screen and (min-width:992px) {
    .header_bottom .input_container {
        border: none;
    }

    .header_bottom .input_container input {
        display:none;
    }
}

/* @media screen and (min-width:992px) {
    .small_left {
        align-items: flex-start;
    }
} */



/* header end */

/* main start */

/* jumbo rules */

.jumbo_container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7em;
}



.jumbo_contained img {
    height: 35px;
    margin-top: 200px;
}

h1 {
    color: white;
    padding: 0.5em 0;
    font-size: 45px;
}


.jumbo_contained p {
    color: white;
    font-size: 20px;
}

.jumbo_contained button {
    background-color: #dede00;
    border: none;
    border-radius: 20px;
}

.jumbo_contained button:hover,
.jumbo_contained button:focus,
.jumbo_contained button:active {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #dede00, inset 0 0 0 2px black;
    
}

.jumbo_contained a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* /jumbo */

/* card section */

.card_section img {
    width: 100%;
    border-radius: 10px;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	50% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
	
    100% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
}



.card_section img:hover {
    cursor: pointer;
    animation-name: bounce;   
}
.card_section img:hover,
.card_section img:active,
.card_section img:focus {
    border: 3px solid RGB(8, 118, 208);
}



/* @media screen and (min-width:992px) {
    .card_section img {
        height: 110px;
    }
} */


/* /card section */

/* ps5 section */

.section_ps5 h4 {
    text-transform: uppercase;
    color: RGB(8, 118, 208);
    font-size: 15px;
}

.section_ps5 h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.section_ps5 p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}


.section_ps5 button {
    background-color: RGB(8, 118, 208);
    border: none;
    border-radius: 20px;
}

.section_ps5 button:hover,
.section_ps5 button:focus,
.section_ps5 button:active {
    box-shadow: inset 0 0 0 1px RGB(8, 118, 208), inset 0 0 0 2px white;
    cursor: pointer;
}

.section_ps5 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.section_ps5 img {
    width: 100%;
}

/* @media screen and (min-width: 768px) {
    .section_ps5 img {
        height: 400px;
    }
    
} */

/* @media screen and (min-width: 992px) {
    .section_ps5 img {
        height: 500px;
    }
    
} */

/* accessories section */

.accessories_section img {
    width: 100%;
    filter: opacity(80%);
}


.accessories_section img:hover,
.accessories_section img:focus,
.accessories_section img:active {
    filter: none;
    border-bottom: 3px solid RGB(8, 118, 208);
}



/* @media screen and (min-width:992px) {
    .accessories_section img {
        height: 180px;
        margin-left: 1em;
    }
} */


/* adv section rules */

.adv_container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7em;
}



.adv_contained img {
    height: 165px;
    margin-top: 50px;
}

h1 {
    color: white;
    padding: 0.5em 0;
    font-size: 45px;
}


.adv_contained p {
    color: white;
    font-size: 20px;
}

.adv_contained button {
    background-color: orange;
    border: none;
    border-radius: 20px;
}

.adv_contained button:hover,
.adv_contained button:focus,
.adv_contained button:active {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px orange, inset 0 0 0 2px black;
}

.adv_contained a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* coming soon rules */

.coming_soon_container {
    background-color:RGB(44, 44, 44) ;
}

.coming_soon_contained img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
}

.coming_soon_contained img:hover {
    cursor: pointer;
    filter: contrast(80%);
}

.coming_soon_contained p {
    color: white;
    font-size: 20px;
}

/* @media screen and (min-width:1200px) {

    .coming_soon_contained img {
        height: 200px;
    }

}     */


/* ps4 section rules */

.ps4_contained h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.ps4_contained p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}


.ps4_contained button {
    background-color: RGB(8, 118, 208);
    border: none;
    border-radius: 20px;
}


.ps4_contained button:hover,
.ps4_contained button:focus,
.ps4_contained button:active {
    box-shadow: inset 0 0 0 1px RGB(8, 118, 208), inset 0 0 0 2px white;
    cursor: pointer;
}

.ps4_contained a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.ps4_contained img {
    width: 100%;
}

/* @media screen and (min-width:768px) {
    .ps4_contained img {
       height: 145px;
    }
} */


/* ps plus rules */

.ps_plus_container {
    background-color: RGB(193, 189, 188);
}

.ps_plus_contained img {
    width: 100%;
}

.ps_plus_contained p {
    color: black;
    font-size: 15px;
}

.ps_plus_contained button {
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 20px;
}


.ps_plus_contained button:hover, 
.ps_plus_contained button:focus,
.ps_plus_contained button:active {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px RGB(8, 118, 208), inset 0 0 0 2px RGB(193, 189, 188);
}

.ps_plus_contained a {
    text-decoration: none;
    color: var(--blue-ps);
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.ps_plus_contained .plus_month {
    height: 280px;
}

@media screen and (max-width:768px) {
    .ps_plus_contained .plus_month {
        display: none;
    }
}


/* ps store rules */

.ps_store_contained h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.ps_store_contained p {
    color: RGB(99, 99, 99);
    font-size: 20px;
}

.ps_store_contained img {
    width: 100%;
}

  

/* @media screen and (min-width: 768px) {
    .ps_store_contained img {
        height: 220px;
    }
}    */

/* @media screen and (min-width: 992px) {
    .ps_store_contained img {
        height: 295px;
    }
}  */

/* ps now rules */

.ps_now_container {
    background-color: RGB(8, 19, 50);
}

.ps_now_contained img {
    width: 100%;
}

.ps_now_contained p {
    color: white;
    font-size: 15px;
}

.ps_now_contained button {
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 20px;
}

.ps_now_contained button:hover, 
.ps_now_contained button:focus,
.ps_now_contained button:active {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px white, inset 0 0 0 2px RGB(8, 19, 50);
}

.ps_now_contained a {
    text-decoration: none;
    color:RGB(8, 19, 50);
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.ps_now_contained .now_month {
    height: 290px;
}

@media screen and (max-width:768px) {
    .ps_now_contained .now_month {
        display: none;
    }
}

/* social media rules */


.social_media_contained h1 {
    color: black;
    padding: 0.5em 0;
    font-size: 45px;
}

.social_media_contained img {
    height: 150px;
}

.social_media_contained img {
    cursor: pointer;
}

/* footer rules */

footer {
    background-color: var(--blue-ps);
}

.footer_contained img {
    height: 90px;
}

.footer_contained #globe {
    height: 20px;
}

.footer_contained span a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
}

.footer_contained ul {
    list-style: none;
}


.footer_contained ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.footer_contained #sie {
    height: 40px;
}


.footer_contained p {
    color: white;
    font-size: 12px;
}


.footer_contained p span a {
    font-size: 12px;
    text-decoration: underline;
}